<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751884798882-r8pketru1orol99jsn987g75gcda6q15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751884798882-r8pketru1orol99jsn987g75gcda6q15</string>
	<key>API_KEY</key>
	<string>AIzaSyD3-KtErmcv32YJQg_m0xLw2TkU3rBno1o</string>
	<key>GCM_SENDER_ID</key>
	<string>751884798882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findme</string>
	<key>PROJECT_ID</key>
	<string>loja-57acb</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-57acb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751884798882:ios:55c044716edeb92ac1c0fb</string>
</dict>
</plist>